Q1:Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, a nd 42. Then, print the series.

In [6]:
import pandas as pd
list=[4,8,15,16,23,42]
ser=pd.Series(list)
print(ser)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2:Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the  variable print it.

In [8]:
import pandas as pd
list=[4,8,15,16,23,42,'sam','p',0,9]
ser=pd.Series(list)
print(ser)

0      4
1      8
2     15
3     16
4     23
5     42
6    sam
7      p
8      0
9      9
dtype: object

Q3. Create a Pandas DataFrame that contains the following data: 

Name 
Alice 
Bob 
Claire 
Then, print the DataFrame. 
Age 25 
30 
27 
Gender Female Male 
Female

In [13]:
import pandas as pd
data={"Name":["Alice","Bob","Claire"],"Age":[25,30,27],"Gender":["Female","Male","Female"]}
df=pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

Ans:A Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns with labeled axes.
Series in pandas contains a single list which can store heterogeneous type of data, because of this, series is also considered as a 1-dimensional data structure. On the other hand, DataFrame is a 2-dimensional data structure which contains multiple lists of heterogeneous type of data.Series is like
a column a dataframe is the whole table.
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female
example,in the above table the whole table is considered as data frame where as its column i.e. name,
age,gender are different series.

Q5. Which of the following is mutable in nature Series, DataFrame, Panel? 
Ans:series and dataframe

Q7:Create a DataFrame using multiple Series. Explain with an example.

In [21]:
import pandas as pd
name=["shaan","jaan"]
age=[23,24]
subject=["bca","bcom"]
df=pd.DataFrame({"Name":pd.Series(name),"Age":pd.Series(age),"SUbject":pd.Series(subject)})
df.head()

    Name  Age SUbject
0  shaan   23     bca
1   jaan   24    bcom